<div class='pt-32 pb-12 md:pt-40 md:pb-20'>
  <div class='pb-12 text-center md:pb-16'>
    <h1 class='leading-tighter mb-4 text-7xl font-serif md:text-8xl text-black-serif'>
      <span>
        BLANK
      </span>
    </h1>
    <div class='mx-auto max-w-3xl'>
      <p class='mb-8 text-xl font-serif text-black-serif'>
        You will find what you are looking for.
      </p>
      <div class='flex justify-center mt-5'>
        <div class='mt-3'>
        <%= link_to products_path, class: 'font-serif text-black inline-flex w-full items-center justify-center p-1 bg-gray-300 text-gray-700 hover:bg-gray-500 focus:outline-none cursor-pointer' do %>
            <span class=' px-5 py-2.5 transition-all duration-75 ease-in'>
              Find Products
            </span>
          <% end %>        
        </div>
      </div>
    </div>
  </div>
</div>
